@import "_variables.scss";

.btn,
.btn:link,
.btn:visited {
  text-transform: capitalize;
  text-decoration: none;
  padding: 3rem, 5rem;
  margin: 3rem auto;
  font-size: 2rem;
  border-radius: 10rem;
  transition: all 0.3s;
  position: relative;
}
.btn-red {
  background-color: color(red);
  color: #fff;
}
.btn-blue {
  background-color: color(blue);
  color: #fff;
}
.btn-black {
  background-color: color(black);
  color: #fff;
}
.btn:hover {
  transform: scale(1.25);
  box-shadow: 0 10px 0.5rem rgba(color(green), 0.2);
}
.btn-black:hover {
  transform: skew(-10deg);
}
.btn-blue:hover {
  animation: bounce 1s;
}
.btn::after {
  content: "";
  display: inline-black;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}

.btn-green {
  background-color: lighten(green, 3%);
  border: 1px solid darken(green, 4%);
  box-shadow: 0px 2px 0 darken(green, 5%), 2px 4px 6px darken(green, 2%);
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

.btn-green:hover {
  background-color: darken(green, 1.5%);
  border: 1px solid rgba(#000, 0.05);
  box-shadow: 1px 1px 2px rgba(#fff, 0.2);
  color: lighten(green, 18%);
  text-decoration: none;
  text-shadow: -1px -1px 0 darken(green, 9.5%);
  transition: all 250ms linear;
}

.btn-white {
  transform-style: preserve-3d;
}
.btn-white:after {
  top: -100%;
  left: 0px;
  width: 100%;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  content: "SUP";
  transform-origin: left bottom;
  transform: rotateX(90deg);
}
.btn-white:hover {
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}
