@import "_variables.scss";

.btn,
.btn:link,
.btn:visited {
  text-transform: capitalize;
  text-decoration: none;
  padding: 3rem, 5rem;
  margin: 3rem auto;
  font-size: 2rem;
  border-radius: 10rem;
  transition: all 0.3xs;
}
.btn-red {
  background-color: color(red);
  color: #fff;
}

.btn-blue {
  background-color: color(blue);
  color: #fff;
}
.btn-black {
  background-color: color(black);
  color: #fff;
}
.btn:hover {
  transform: scale(3);
  box-shadow: 0 10 px 0.5 rem rgba(color(green), 0.2);
}
